.flex-box1{
    display: flex;
}

.flex-box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
P{
    margin: 20px;
}

.sq{
    height:300px;
    width:300px;
    background-color:rgb(85, 94, 101);
    font-size:50px;
    margin:10px;
}